[2017-11-10 18:19] imsnif opened #1 "Add error checking everywhere"

[2017-11-10 18:20] imsnif opened #2 "Find out what is the desires behaviour for duplicates across package types"
eg. `devDependencies` and `dependencies` have the same package with different versions

[2017-11-10 18:21] imsnif opened #3 "handle scopes + complex version strings"

[2017-11-10 18:22] imsnif opened #4 "find + duplicate logic for package-lock.json and duplicate versions across dependencies"

[2017-11-11 16:28] imsnif commented on #2
They are unique

[2017-11-11 16:28] #2 closed

[2017-11-16 17:49] #4 closed

[2017-11-16 17:49] #3 closed

[2017-11-18 01:13] #1 closed

[2017-11-20 16:59] imsnif opened #5 "Use npm-logical-tree for parsing package-lock.json"
Right now, we're doing a lot of this manually, and flattening the package-lock.json file. It'll save a lot (and likely protect against future breakage) to use this instead:

https://www.npmjs.com/package/npm-logical-tree

[2017-12-08 21:18] joshuanapoli opened #6 "Conversion from package-lock.json fails"
When I run `synp --source-file package-lock.json` with this file https://www.dropbox.com/s/9w4xpxmigo4rbiq/package-lock.json?dl=0 I see "Cannot read property 'replace' of undefined. Any idea how I can work around this problem?

I have synp version 1.0.3.

[2017-12-08 21:23] imsnif commented on #6
Hey @joshuanapoli - is your `node_modules` directory current and installed by npm?
If you:
1. remove `node_modules` completely
2. `npm install`
3. `synp --source-file package-lock.json`

Does it still happen? If it does and you can link to the repo (or even just add the `package.json`) file to the `package-lock.json` file you linked, I'd be happy to take a look!

[2017-12-08 21:26] imsnif opened #7 "Support yarn integrity field"
Once this is closed: https://github.com/yarnpkg/yarn/issues/816

[2017-12-13 17:28] talamaska opened #8 "Unsuccesfull convertion from yarn to package locks"
I have an error in the console: Unknown token 3:1 in lockfile

[2017-12-13 17:31] imsnif commented on #8
Hey @talamaska - could you paste a link to your `yarn.lock` and the `package.json` of the package you're converting? I'd be happy to take a look!

[2017-12-13 17:33] talamaska commented on #8
https://gist.github.com/talamaska/e7c9f8dbdc9c0153efdfe2c16831c397

[2017-12-13 17:35] imsnif commented on #8
Thanks @talamaska - could you please also post your `package.json`?

[2017-12-13 18:06] talamaska commented on #8
sure
https://gist.github.com/talamaska/d824b2393e04718bc6f28be6ce352e58

[2017-12-13 18:18] imsnif commented on #8
Hey @talamaska - for me it worked. What I did:
1. `mkdir admin`
2. `wget https://gist.githubusercontent.com/talamaska/e7c9f8dbdc9c0153efdfe2c16831c397/raw/ed242bce606859ccbbd668f0ef70ca77d988562f/yarn.lock`
3. https://gist.githubusercontent.com/talamaska/d824b2393e04718bc6f28be6ce352e58/raw/b5b15b63700079b5f7de4a3446944ab4ae70e514/package.json
4. `yarn`
5. `synp --source-file yarn.lock`

If you pe

[2017-12-13 23:35] skeggse opened #9 "Support codeload.github.com packages"
#### Issue description:

I'm seeing the following when trying to run `synp` against one of our `yarn.lock` files:

[code]

After digging in a bit, I noticed that it's failing on an entry that looks like this:

[code]

It looks like this would need explicit support.

**EDIT:** it looks like something similar happens going from npm to yarn, with this npm lockfile entry:

[code]

which produces this

[2017-12-14 01:12] skeggse commented on #6
Ah, looks like this is a manifestation of #9 - I see this entry in the given `package-lock.json`:

[code]

[2017-12-14 05:51] imsnif commented on #9
Hey @skeggse - thanks so much for finding this issue and submitting a fix!
I think for now the best thing would be to keep the `yarn.lock` => `package-lock.json` test+fix and work on #5 as you mentioned for the `package-lock.json` => `yarn.lock` issue.

Regarding the registry url: I don't think there is a need to translate yarnpkg to npmjs and the other way around. `synp` translates a file as-is,

[2017-12-14 06:20] skeggse commented on #9
Oh, that's funny - I figured this option would allow that:

![image](https://user-images.githubusercontent.com/1348991/33978236-9d74dcb2-e053-11e7-9cd8-49c7805e947e.png)

I went ahead and updated #11 to include the corresponding test in #10. I'm on wonderful hotel wifi, so these changes are a bit slow atm.

[2017-12-14 12:05] imsnif opened #12 "github sourced packages are not converted properly from package-lock.json to yarn.lock"
#### Issue description:

Support github sourced packages when converting from `package-lock.json` to `yarn.lock`.
Continuing the conversation in #9

This might be best achieved by first closing #5

[2017-12-14 12:09] imsnif commented on #9
Alright, I merged #11 and bumped the version. I have similar wifi issues as I am on a plane now, so might only get to publish to `npm` later today.
I opened another issue regarding supporting this the other way.
Thanks for your contribution, @skeggse! Very much appreciated.

(Regarding the permissions - it is quite odd, I agree! Perhaps it's because the fork is part of an organization and some per

[2017-12-14 12:09] #9 closed

[2017-12-14 12:18] imsnif commented on #6
Nice catch @skeggse! The funny thing is, that for me this does not fail the `synp` conversion. Even before your fix. I just end up getting the target-file with a malformed (`sha1-`) sri. I'm guessing this results from platform differences in the Buffer module (I'm on a linux box).

In any case: @joshuanapoli - if this still happens for you, you can work around it by:
1. Manually removing all `gith

[2017-12-14 12:18] #6 closed

[2017-12-14 13:11] talamaska commented on #8
I don't have wget in power shell or in gitbash, I used the linux subsystem bash for wget, installed with yarn outside of bash and run the step 6. No issues. This is weird.

[2017-12-14 13:15] talamaska commented on #8
went to my real project, deleted my node_modules. installed with yarn again, step 6 have the same error.

[2017-12-14 13:21] talamaska commented on #8
ok, so I compared the files. The only difference is the line endings. If they are linux like 'LF' - your script works fine, but if windows style - CRLF it doesn't. I think you should account for the OS specific line endings. Just like when using paths windows and linux style e.g. '/' or '\'

[2017-12-14 16:50] imsnif commented on #8
@talamaska - I was beginning to suspect as much! `synp` uses yarn's own parser, and for some reason I took it for granted that it can handle both. In any case, I issued a fix for this. `1.2.0` should solve this. If you're still having issues, please let me know!

[2017-12-14 16:50] #8 closed

[2017-12-14 17:01] talamaska commented on #8
It doesn't fix it, same error. Because you have used eol.auto which changes the eol to the current OS. Now if I'm on windows , my eol is clrf, and basically this won't change anything to my yarn.lock.
I think you should convert with eol.lf(text) instead of auto, since on windows with files that have linux line endings running your script was successfull, but with windows eol it is not. normaly git

[2017-12-14 17:46] imsnif commented on #8
My apologies! You are of course correct. :)
How about now? With `1.2.1`?

[2017-12-14 17:49] talamaska commented on #8
works now, thanks

[2018-01-11 23:05] ericsaboia opened #13 "Cannot read property 'replace' of undefined"
I'm getting this error at [npmToYarnResolved](https://github.com/imsnif/synp/blob/master/lib/entry.js#L21-L27) because the `integrity` of the package `ua-parser-js` comes undefined.

The package is a dependency of a top-level dependency in my project.

Here's the `package-json.lock` snippet:

[code]

[2018-01-11 23:54] imsnif commented on #13
Hey @ericsaboia - thanks for opening the issue! This is actually a result of https://github.com/imsnif/synp/issues/12
I still have not gotten around to fixing it (I first want to support sha512 once `yarn` supports it).

For now, I think the workaround here should help you out:
https://github.com/imsnif/synp/issues/6

[2018-01-16 09:59] #13 closed

[2018-02-01 09:06] dmaksimovic opened #14 "Cannot convert undefined or null to object"
I'm afraid I can't share the package-lock.json that I'm trying to convert to yarn.lock, because it's the company's material under protection. It's a big list of dependencies anyway, probably something difficult to handle.

Anyway:
$ synp --source-file ./package-lock.json
Cannot convert undefined or null to object

  Usage: synp [options]

  Options:

    -V, --version                    output the

[2018-02-01 10:14] imsnif commented on #12
Somewhat ugly workaround for now:

1. Manually remove all github entries in package-lock.json
2. Run the conversion (synp --source-file package-lock.json)
3. Run `yarn` - which should add these again (since these are github sourced packages, they should not be upgraded and thus the locking will be preserved).

[2018-02-01 10:16] imsnif commented on #14
Hey @dmaksimovic - thanks for opening this issue. While I understand it's problematic to attach the `package.json` and `package-lock.json` files for the reasons you mentioned, it won't really be possible to identify the problem otherwise. Advice and possible workarounds I can offer regardless:

Perform the troubleshooting steps in the readme (specifically removing `node_modules`, reinstalling with

[2018-03-16 13:33] #14 closed

[2018-06-15 09:50] agarbund opened #17 "Problem with converting from Yarn to NPM: dependencies@undefined"
Steps to reproduce with attached files:

[code]

Getting error:
[code]

Using Yarn 0.27.5 and npm 5.6.0

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:
[yarn.lock.txt](https://github.com/imsnif/synp/files/2105576/yarn.lock.txt)
#### Are you reporting a conversion error? Please also include a link to your `package.json`:
[package.json.txt](htt

[2018-06-15 10:10] agarbund commented on #17
Note: after upgrading to Yarn 1.7.0 and repeating the whole procedure, error during `npm i` has changed too:
[code]

[2018-07-06 08:22] imsnif commented on #12
This is addressed by: https://github.com/imsnif/synp/pull/16
Thanks @styx!

[2018-07-06 08:22] #12 closed

[2018-07-06 08:43] imsnif commented on #17
Hey @agarbund - first, sorry for taking so long to get to this issue. I just checked this manually and for me it works with npm `6.1.0`
Can you try upgrading and seeing if it does the trick?

If not, it might have to do with `fsevents` which is an optional dependency not installed on my platform (linux). If that is the case, I might ask for your help debugging this as I do not have access to a box

[2018-07-06 09:54] agarbund commented on #17
Hey @imsnif you were right, problem was with `fsevents` package. I removed all packages connected to it with Yarn, converted successfully to npm, and then installed them again with npm.

Thanks for your support and for the great tool!

[2018-07-06 09:54] #17 closed

[2018-07-10 07:59] DanielRuf opened #18 "add support for pnpm"
#### Issue description:

@pnpm is another package manager which solves many issues of yarn and npm. pnpm uses a shrinkwrap.yaml lockfile similar to the shrinkwrap file of npm but uses another approach when installing dependencies.

[2018-07-10 08:36] imsnif commented on #18
Hey @DanielRuf - this was actually "in the cards" for a while but I didn't know how feasible it would be considering pnpm's heavy manipulation of the physical tree. I think it's worth some investigation. Would you be interested in offering a design/implementation?

[2018-07-10 08:49] DanielRuf commented on #18
I can probably invest some time in the next weeks (currently not much time this week). @zkochan might have the needed information so we can plan the needed steps to get to the desired result.

[2018-07-10 08:55] imsnif commented on #18
I'd be happy to help in any way I can. The lib will probably need some work on generic logical/physical tree structures to facilitate 3-way conversions. We might even get some nice libs out of it, been in my head for a while now.

[2018-07-10 09:07] DanielRuf commented on #18
Sounds great =)

[2018-08-26 00:55] chrismwendt opened #19 "Cannot read property forEach of undefined"
Conversion fails on https://github.com/sourcegraph/browser-extensions/blob/37ae8206a9ec7496bfedbb5fe8a484e73ae34eb9/package-lock.json with `synp -s package-lock.json`

The error occurs in the source code here https://sourcegraph.com/github.com/imsnif/synp/-/blob/util/format.js#L64:17

[2018-08-26 10:43] imsnif commented on #19
Hey @chrismwendt - this actually works for me.

##### What I did:
[code]

Maybe `node_modules` weren't installed?

Let me know if this works for you.

[2018-08-31 19:20] hsribei opened #21 "Update README with information about `yarn import`"
It would be useful to have this on the README in case all the user wants is one-way package-lock.json => yarn.lock conversion.

[2018-08-31 21:31] hsribei commented on #21
Cool, I'll send a PR. Thanks!

On Fri, Aug 31, 2018, 17:06 Aram Drevekenin <notifications@github.com>
wrote:

[2018-09-01 12:55] #21 closed

[2018-09-10 03:49] chrismwendt commented on #19
Hmm, that didn't work for me. Here's the output:

[code]

[2018-09-10 03:58] chrismwendt commented on #19
What's your `npm --version`? I'm on 6.4.0

[2018-09-11 19:54] hermanbanken opened #23 "Finding issues"
#### Issue description:
npm i: match of undefined

Issues like these are sometimes caused by package-lock.json missing some `version` fields.
You can quickly discover those via:

[code]

which you can also run inline like this:

[code]

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:

#### Are you reporting a conversion error? Please also incl

[2018-09-11 20:20] imsnif commented on #23
Hey @hermanbanken - could you give me more information about the error you're describing? Preferably some way to recreate it with a `package.json` and a `package-lock.json`. I think it'll help me understand what you mean.

[2018-09-11 20:51] hermanbanken commented on #23
See issue #17, it is the same.

[2018-09-12 06:45] imsnif commented on #23
Yeah, I agree error reporting and lockfile validation in `synp` are a little bad. I think I'd like to see a more 'whole' solution that would catch (or could be extended to catch) all possible errors and even explain them. For example, why do these certain packages have no version? What can the user do about it?

Thanks for the suggestion though! If you feel like working on something in a PR (or di

[2018-09-12 06:45] #23 closed

[2018-09-12 07:10] hermanbanken commented on #23
I mainly wanted to post the quick check that people can run to continue. I was just hoping to hint people into finding solutions to similar problems like mine.

I'm in the process of updating 20+ repositories back to npm. I don't have the time to philosophize about how to improve synp, I just need a fix that works _now_. Sorry!

[2018-09-12 07:28] imsnif commented on #19
I was on 6.3.0, tried with 6.4.1 and it still works for me.
I'm guessing (I've seen this before) that this has to do with platform dependent dependencies (eg. `fsevents`). In order to debug this, would you be willing to try something?
Try removing all lines in `package-lock.json` containing 'fsevents' (I think there are ~5) and then converting?

[2018-09-12 07:30] imsnif commented on #23
No worries, I just don't want to keep issues open without having the ability to do something about them. :)
Happy converting!

[2018-09-12 07:31] chrismwendt commented on #19
That didn't work either 😦 I removed 2 lines like `"fsevents": ...` and the whole `"fsevents": {` property.

[2018-09-12 07:39] imsnif commented on #19
This is quite strange. Has the `package-lock.json` been manually edited in the past? I see some entries with `"resolved": false` - I don't know if these are valid (haven't seen them before).

[2018-09-12 07:42] chrismwendt commented on #19
I doubt it's been manually edited, but I suppose it's possible. Any insight into why the `forEach` error is occurring? I'm curious what the code is attempting to do when it hits that error.

[2018-09-12 08:04] imsnif commented on #19
Basically, it means there's an inconsistency between the `package-lock.json` and the installed `node_modules` which `synp` cannot reconcile (it has facilities for dealing with optional dependencies, but they're a little buggy sometimes).
If you're converting to `yarn.lock`, could you maybe try to use `yarn` itself for the conversion? `yarn import` should do the trick for you (the support was added

[2018-09-24 11:27] #19 closed

[2018-09-26 12:21] DeTeam opened #24 "Tarball support missing"
#### Issue description:

Currently output from `synp` is different to what `npm i` would generate in the `package-lock.json`.

I made a small repo to demonstrate the scenario (follow the readme): https://github.com/DeTeam/synp-tarball (contains `yarn.lock` and `package.json`)

[2018-09-26 12:54] DeTeam commented on #24
https://npm.community/t/npm-audit-returns-400-from-registry-when-non-registry-packages-satisfy-specs-that-exist-in-the-registry/462 — can be somewhat related 🤷‍♂️

[2018-10-04 06:01] shinriyo opened #25 "Cannot convert undefined or null to object error"
#### Issue description:

Cannot convert undefined or null to object error.

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:

[code]
#### Are you reporting a conversion error? Please also include a link to your `package.json`:

[code]

[2018-10-04 06:03] shinriyo opened #26 "Add --force option that will delete an existing lockfile if it exists"
#### Issue description:

[code]

I hope `--forcely -f` option.

[2018-10-04 06:05] shinriyo commented on #25
Sorry, first I should `npm install`.

I hope "You need npm install command.` message.

[2018-10-04 06:05] #25 closed

[2018-10-04 08:57] imsnif commented on #26
Thanks @shinriyo - sounds like a good feature. Want to send a PR?

[2018-10-04 10:11] shinriyo commented on #26
@imsnif Thank you.
No, I don't. I am going to wait.

[2018-10-05 16:59] ELLIOTTCABLE opened #27 "Handling of git dependencies seems broken"
One of our legacy products depends upon another via a direct git dependency:

[code]

In the old `yarn.lock`, this is encoded as:

[code]

`synp` reencodes this into the produced `package-lock.json` as:

[code]

Unfortunately, this doesn't *quite* seem to be npm's actual encoding of git dependencies? When I subsequently try and test the resulting file with `npm ci`, I get:

[code]

I can work arou

[2018-10-06 07:39] imsnif commented on #27
Hey @ELLIOTTCABLE - thanks for the report. This seems to me to be the same issue as: https://github.com/imsnif/synp/issues/24

If, after you convert you do `npm install` (rather than `npm ci`) with the new package-lock, does it fix the problem? If not, if you remove the `version` field from the block you mentioned, does it fix it?

All of these workarounds are not ideal, I agree*. As I mentioned i

[2018-10-09 08:27] DeTeam commented on #27
@imsnif @ELLIOTTCABLE

These issues are indeed similar (I also saw this while filling #24, forgot to mention).
If I get time this week — will let know in both issues.

At first, would be good to open up a PR with failing tests and then the implementation.

[2018-10-09 11:07] DeTeam commented on #24
On it with #28

[2018-10-09 11:07] DeTeam commented on #27
On it with #28

[2018-10-15 19:48] DeTeam commented on #7
Even though issue is not closed, the PR is. Seem like this can be worked on (:

[2018-10-16 08:08] imsnif commented on #7
@DeTeam - yes, that's right! Important to note that the support here should be added rather than replaced. I'd like to maintain backwards compatibility to (converting from) yarn lockfiles that do not have an `integrity` field.

If you feel like having a go at this, your PRs are always welcome. :)

[2018-10-20 22:18] #24 closed

[2018-10-29 15:44] Xquick opened #29 "No matching version found for dependencies@undefined"
#### Issue description:
After converting yarn.lock to package-lock.json I run `npm install`.
output is
[code]
#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:
`yarn.lock` https://pastebin.com/FZWC7mUS
`package-lock.json` https://ufile.io/3rsmr
``

#### Are you reporting a conversion error? Please also include a link to your `package.json`:
`pac

[2018-11-10 16:43] imsnif commented on #29
Hey, thanks for reporting this and my apologies for the late reply!

Could you walk me through the reproduction please? From downloading the files to a specific folder until you get this error? Because I'm getting different results and I want to make sure it's not just a specific repo particularity (eg. I needed to change the version in package.json because npm wouldn't accept 1.xxxx).

[2018-11-13 14:58] DavidReinberger commented on #29
Hi @imsnif I actually work with @Xquick and I've decided to investigate my self and found out that there is a `dependencies` key a direct child to `dependencies` object like this:
[code]

[2018-11-13 15:21] imsnif commented on #29
Hey @DavidReinberger, thanks! I appreciate you looking into this.

Ouch, that does not look good!... When I convert the file, this does not happen to me. Which is more than a little odd. If I may ask... if you convert again now on a different box, does the field appear there? How about if you remove node_modules, reinstall them (with yarn) and then convert?

[2018-11-15 10:47] DavidReinberger commented on #29
@imsnif So I've tried to copy out my `package.json` and `yarn.lock` to a new folder and doing a fresh install, which yielded the same result... We are using `node:9` on macOS, which setup are you using?

[2018-11-15 11:00] DavidReinberger commented on #29
Just a heads up, my colleague ran this on windows and it worked fine. So the problem is probably with macOS? 🤷‍♂️

[2018-11-15 11:56] imsnif commented on #29
Hey @DavidReinberger - I think this has to do with some optional dependencies that are only installed on macOS (I'm using linux).

I'm guessing this has to do with the way we traverse the node_modules folder. `synp`'s node_modules traversing logic is outsourced to a different library which might make this easier to debug (if you'd be willing to help).

Could you run this in the folder after a clea

[2018-11-15 13:30] DavidReinberger commented on #29
are you sure about the `tree` cmd? Or `npm list`?

[2018-11-15 14:04] imsnif commented on #29
Sorry, for some reason I thought it came out of the box on macOS. :) I think you can install `tree` with `brew install tree`?

[2018-11-21 08:16] imsnif commented on #29
ping @DavidReinberger ?

[2018-12-18 05:08] djvs commented on #29
Issue also exists on up to date Arch Linux

[2018-12-18 05:21] djvs commented on #29
So I went into the package-lock.json with vim.  You have `  "dependencies` (two spaces) at the very beginning, `      "dependencies` (six spaces) for every dep, and then at the veeery end of the file, 14 lines back, there's a single `    "dependencies` (four spaces), with two packages under it.  Both are subdependencies of the bcrypt package and also primary (top-level) dependencies - `yallist` an

[2018-12-18 08:12] imsnif commented on #29
Thanks for the details, @djvs! I'm on arch too, so that's good news - will be easier to debug. :)
My problem with this issue up until now was that I was unable to reproduce it.

Can you consistently reproduce it on your box (the creation of the `package-lock.json` file)? Do you have a `package.json` + `yarn.lock` combination that reproduces this? Could you please post them so that I could take a l

[2019-01-16 11:19] jneuendorf opened #30 "Trouble converting with file:// urls"
#### Issue description:

When running `synp --source-file yarn.lock` after a fresh `yarn install` I get this error:

[code]

I couldn't find the message's text anywhere in this repo so it must come from some dependency.
Therefore, I have no idea where to look or what the error means exactly. 😞

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:

[2019-01-17 17:11] imsnif commented on #30
Hey @jneuendorf - in order to make this work, I had to delete the emmapi and js_utils packages that lead to files on your HD. I didn't have them, so couldn't run the install.
I removed them, ran the install and then the conversion worked for me.
May I suggest you see if this works for you? If it does, you can easily add them later after the conversion and then `npm install`. Your locked versions w

[2019-01-18 22:11] ox commented on #30
I'm getting the same issue. I think it might be b/c I have local dependencies (`"file": "../pkg"`). If I go into the `yarn.lock` file and remove all of the dependencies like `pkg@file:../pkg` then the conversion works fine. Maybe the tool expects each package to be some real URL and not potentially a path.

[2019-01-18 22:17] jneuendorf commented on #30
I was guessing this as well. I am currently looking around in the code and see if I find a nice solution (=> PR?! 😉).
The easiest approach I can think of is like @imsnif said: Remove the `file` entries, do the conversion, and then tell the user to run `npm install` manually. But maybe I find out which tool actually throws the error and get the conversion work out of the box and without any workaro

[2019-01-21 08:20] jneuendorf commented on #30
@imsnif I actually already have a question 😉 In `entry.js` the object representing an entry in the according lock file is created. I.e. `entry.requires` is set to a value derived from `dependencies`: https://github.com/imsnif/synp/blob/c6f4e38790adc3f74958aeec701b8d5633a63e4f/lib/entry.js#L67-L71
In an NPM lock file there also is a `dependencies` key in (almost?) each entry, but that key is never

[2019-01-21 08:42] imsnif commented on #30
Hey @jneuendorf - the `dependencies` value is a special case. It needs to include all the child entries of a package.

Synp traverses the dependency tree "top to bottom" (or "left to right"), meaning it starts with the package itself, continues with its children, moves on to its "grandchildren" etc. For this reason, when it calculates an entry, it doesn't yet have the entry information of its chil

[2019-01-21 13:03] jneuendorf commented on #30
Hey @imsnif thanks for your quick and detailed answer. It makes things a lot clearer.

And it means that I don't have to worry about the `dependencies` in my changes because your code already takes care of that, right?

[2019-01-21 13:06] imsnif commented on #30
@jneuendorf - that sounds right, but I'll have to look at the code to be sure. :)

What I suggest you do is:
1. Make sure the existing tests still pass.
2. Add new tests for your feature that would make sure you get the desired result - you can get inspiration from the existing tests if you like.

Makes sense?

[2019-01-21 21:18] jneuendorf commented on #30
@imsnif - absolutely! 😄

[2019-01-29 09:04] jneuendorf commented on #30
Hey @imsnif, I just created my test case. 🎉

But I noticed that lots of tests are only done for either `NPM -> Yarn` or the other way (bot not both).
**Is this on intent?**
Is it due to the fact that one would need 2 fixtures (one for each test) so the existing and generated files do not conflict?

And would it be ok for you if I committed an `.editorconfig` file? It's nice because it keeps the co

[2019-02-04 08:31] imsnif commented on #30
Hey @jneuendorf - sorry for the delayed response!

Relevant test cases (such in this case) should have test cases both ways. Since `synp` is not 100% accurate (due to the caveats stated in the README), there should be one fixture for each direction.

I don't mind an .editorconfig file (that passes `standard` :) ), but would rather have it in a separate PR to keep things organized.

[2019-02-04 21:47] jneuendorf commented on #30
Hey @imsnif, as you probably saw I opened #31. I didn't (and won't) commit my `.editorconfig` nor the `.yarn-integrity` without a clear 'yes'.

Since the PR contains only 1 test case (yarn to NPM) I will write one for the other direction when I have time. That is what you suggest, right?

[2019-02-05 22:52] imsnif commented on #30
Hey @jneuendorf - looks good! Nice work. Might have some small comments, but nothing major. Want me to review it as is, or would you like to add the test first?

[2019-02-21 21:23] jneuendorf commented on #30
Hey @imsnif, sorry for the delayed answer. I've been incredibly busy with work and college.

But I just pushed the missing piece: the 2nd test case and according code changes. 🎉 How you can have a look and let me know what you think. 😉

[2019-02-24 15:28] #30 closed

[2019-02-24 16:06] imsnif commented on #30
@jneuendorf - I merged your PR and published a new version. Looks great - thanks so much for your contribution!

[2019-03-12 21:45] sragu commented on #29
Worked on Windows for me as well.

[2019-07-08 20:39] elado commented on #17
Also got `Cannot read property 'match' of undefined`

Debugged, and saw that in npm it was failing because package-lock.json had a root `dependencies` node at the end of the file. Deleted the node and it worked.

[2019-07-19 14:47] #26 closed

[2019-07-19 14:52] imsnif commented on #26
This was fixed by @harryparkdotio, thanks again!

[2019-08-02 09:05] oliverlockwood commented on #29
We have a few projects which were failing due to this issue, on both MacOS and Linux.

For us, the workaround is as follows:
1. Run `cat package-lock.json | jq -e ".dependencies.dependencies?"`
2. If the above returns a zero return code, run the following block of shell script:
[code]

Hope this excerpt might be of use to others while this bug persists.

[2019-08-02 09:35] imsnif commented on #29
Hey @oliverlockwood - thanks for this workaround.

I think most of the cases talked about in this thread involve private repositories (which makes it hard to reproduce and thus address). I hope this is not a lot to ask, but I wonder if you could help me out with some brief debugging? If you try to reproduce this not through some CI or script, but simply by cloning the repository, installing with y

[2019-08-02 10:50] oliverlockwood commented on #29
@imsnif - I believe so; yes.

My examples are also in private repos, but I will experiment with trimming down to something I can make public as a mini-repo to reproduce this issue.  Watch this space...

[2019-08-02 13:51] oliverlockwood commented on #29
@imsnif a number of interesting observations.  All of this was executing manually on my machine (a Mac OS X).  Note that the original issue (on an internal project) also reproduced on Linux; so with luck the stripped-down variant should also do so if necessary.

1.  Initially, `yarn install` and `synp` followed by `cat package-lock.json | jq '.dependencies.dependencies'` gave this:
[code]
2.  When

[2019-08-02 16:37] imsnif commented on #29
Wow, @oliverlockwood, great work!!

We finally found the issue!!! :D :D
I fixed it and published as `1.7.0` - could you take a look and see if it solves this for you in the private repos as well?

[2019-08-05 06:49] oliverlockwood commented on #29
@imsnif thanks for this.  Unfortunately, although version `1.7.0` does fix the issue in the stripped-down mini-repo, it does not fix the issue in the private repos (even the one from which i derived the mini-repo still causes problems.)

If you would like to add some debugging and either publish beta packages or just put the code on a branch, I'm happy to run such things against our private repos

[2019-11-06 19:39] redoz94 commented on #5
Why cannot we just use JSON.parse(), to parse the strings?

[2019-11-06 21:34] imsnif commented on #5
How do you mean @redoz94 ?

[2019-11-06 21:57] imsnif commented on #5
Ah, I think this is due to bad wording on my part in the issue name - sorry! npm-logical-tree is pretty neat in that it would allow us to get a traversable tree representation of a package.json + package-lock.json combination. We could use that to figure out all the dependencies and make a yarn.lock file (or do the reverse with some adjustments). It's far simpler than what this package does at the

[2020-01-22 07:26] ZaLiTHkA opened #40 "Can this be used without needing multiple package managers installed?"
I tend to stick with the default `npm` CLI tool for my Node based work, so I don't have other package managers installed (like Yarn, pnpm, etc).

When I found this project, it sounded like something I could use to convert a `yarn.lock` file to `package-lock.json` so that `npm install` had a valid lockfile to work from... But it looks like `synp` is trying to build NPM's lockfile based on the curre

[2020-01-22 08:53] imsnif commented on #40
I'm afraid that assumption is incorrect, friend. As mentioned in the readme, synp needs the node_modules installed by the source package manager - it uses them in order to find out the exact structure of the lockfile it needs to build.

It is theoretically possible for this not to be a requirement, but this is not how the tool currently works.

On a different note: I'd recommend using the package

[2020-01-22 08:53] #40 closed

[2020-01-22 09:09] ZaLiTHkA commented on #40
Ah, ok then.. I must admit, I did actually miss that part of the readme before posting this question, sorry about that.

I guess this is just the curse of the JS world, too many nice things that aren't fully compatible with each other. Pretty sure this tool will still come in handy though, so I am glad I found it. :)

[2020-08-14 13:31] qwelias opened #44 "yarn.lock to package-lock.json conversion ignores workspaces"
#### Issue description:
~Workspaces may have specific versions of dependencies which would not get hoisted to the root level, but synp [accounts only for root node_modules](https://github.com/imsnif/synp/blob/5ae522c2290c310275030d3a3bbb901dc999b07c/lib/index.js#L12)~ Looks like there's an issue with `nmtree`, which leads to a loss of information in resulting `package-lock.json`

[test repo](https

[2020-08-14 14:07] antongolub commented on #44
@qwelias
Take a look: https://github.com/imsnif/nmtree/blob/master/index.js#L25
[code]
As I remember, `fs.readdirSync` ignores symlinks by default. But we could try running dir scanner with [`withFileTypes` option](https://nodejs.org/api/fs.html#fs_fs_readdirsync_path_options).

[2020-08-14 15:42] antongolub commented on #44
I'll try to fix it on this weekend.

[2020-08-19 09:20] imsnif commented on #44
Hey, @qwelias - I think now with @antongolub's fixed published we can close this, right?

[2020-08-19 09:21] #7 closed

[2020-08-19 09:57] LuudJanssen opened #46 "Could not find parent dir!"
#### Issue description:

Bet you didn't expect to get an issue report 10 minutes after releasing a new version, but the new release seems to break something in my workflow. I get the following error: `Could not find parent dir!`, while everything worked fine one hour ago.

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:

[lockfiles.zip](https:

[2020-08-19 10:02] imsnif commented on #46
Oi, sorry about that! @antongolub, feel like taking a look? If you don't have time, let me know and I'll delve into your changes and see what's up. @LuudJanssen, for now working with `1.7` works for you?

[2020-08-19 10:04] LuudJanssen commented on #46
No problem @imsnif! Yes, running `npx synp@1.7.0 --source-file yarn.lock` works for me.

[2020-08-19 11:04] antongolub commented on #46
Hi there,
@imsnif @LuudJanssen

I'll look for what could break. Sorry for the inconvenience.

[2020-08-19 18:17] antongolub commented on #46
@imsnif,

Could you verify #47 fix and release a patch?

[2020-08-20 10:56] qwelias commented on #44
Hi, there's something strange. @antongolub

If you run `synp --source-file yarn.lock` in the test repo, you'd get `Cannot read property 'pkgPath' of undefined` error.
I tried to track it and it seems like:
- it uses `lib/lockfileV2/index.js`
- `getWorkspaces` return empty array (looks like it does not understand the wildcard)
- the error is thrown at `lib/lockfileV1/tree.js#56` because empty array

[2020-08-20 11:05] antongolub commented on #44
@qwelias,
There is a small fix: https://github.com/imsnif/synp/pull/47
Patch version hasn't been released yet, so I published it under my account: [@antongolub/synp@2.0.12](https://www.npmjs.com/package/@antongolub/synp/v/2.0.12) for testing.
Could you check this out?

[2020-08-20 11:18] qwelias commented on #44
I think it still doesn't work
<details>
  <summary>output on test repo</summary>

[code]
</details>

[2020-08-20 11:28] antongolub commented on #44
Thanks for the feedback. I'll let you know when I fix this issue.

[2020-08-20 13:40] qwelias commented on #44
Btw [test repo](https://github.com/qwelias/yarn-audit-fix-test) was linked in the initial issue comment, so you can test the implementation :)
I'd like to provide more help, but am occupied with other things until the weekend

[2020-08-23 19:47] antongolub commented on #46
@LuudJanssen, @alexiusp ,
Any news?

The latest beta build is available as [@antongolub/synp](https://www.npmjs.com/package/@antongolub/synp) package. If everything works fine, we would like to release the pull request and close the issue.

[2020-08-25 09:59] alexiusp commented on #46
I have tried version 1.8.1. Issue mentioned above has gone, but I have another issue. Seems like this version of synp works incorrectly with private repositories and/or with dependencies referenced by direct github link instead of npm package name. When I run synp v.1.8.1 with one of my repos I see this:

In my package.json I have a dependency like this:

It's a private repository. Build process o

[2020-08-25 10:13] antongolub commented on #46
@alexiusp
I see... I've replaced deprecated `url.parse(val)` call with `new url.URL(val)`.

[2020-08-25 10:22] antongolub commented on #46
@alexiusp

Could you try the latest beta? `npx @antongolub/synp@2.0.20`

[2020-08-29 10:26] imsnif commented on #46
Hey @antongolub - let's go forward with your fixes. I think if it doesn't fix stuff for @alexiusp we can re-examine it. Is everything merged, can I bump the version and publish?

[2020-08-29 10:32] antongolub commented on #46
Yep. Let’s do it.

-
Anton Golub

[2020-08-29 10:34] imsnif commented on #46
@antongolub - the last commit on master is `1.8.1`

[2020-08-29 13:01] antongolub commented on #46
@imsnif
AFK. Could you merge the latest PR?

[2020-08-31 19:03] antongolub commented on #46
@alexiusp, @LuudJanssen,

Everything should be fixed in v1.8.2. If not, feel free to open another one issue.

[2020-08-31 19:03] #46 closed

[2020-08-31 19:08] antongolub commented on #44
@qwelias

From v1.8.1 synp provides experimental support for workspaces. This feature could be enabled with `--with-workspaces` flag.

[2020-08-31 19:08] #44 closed

[2020-08-31 19:36] antongolub commented on #5
As an alternative: https://github.com/npm/arborist

[2020-08-31 19:50] imsnif commented on #5
For sure :)
Though to note: if we use npm-logical-tree, we'll probably be able to forgo having a node_modules on disk. In that case, we might even be able to run in the browser (unless I'm missing something).

[2020-09-13 20:34] #18 closed

[2020-09-26 12:41] antongolub opened #51 "`dev` marker may not be set correctly for dependencies of scoped packages"
This is probably a tree sorting bug. Dir nesting count does not always match the nesting depth of packages.
[code]
I think it should be replaced with something like
[code]

[2020-09-26 12:54] #51 closed

[2020-09-26 12:56] antongolub commented on #51
:tada: This issue has been resolved in version 1.8.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/synp/v/1.8.3)
- [GitHub release](https://github.com/imsnif/synp/releases/tag/v1.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-26 14:14] antongolub opened #53 "Support composite version syntax in pkg.json"
For example, https://www.npmjs.com/package/@hot-loader/react-dom/v/16.13.0 published as `16.13.0` but its package.json looks like
[code]

[2020-09-26 15:00] #53 closed

[2020-09-26 15:01] antongolub commented on #53
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/synp/v/1.9.0)
- [GitHub release](https://github.com/imsnif/synp/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-26 18:43] antongolub opened #55 "package-lock.json does not contain deps meta of resolved entries"
As for now:
[code]

As it should be:
[code]

[2020-09-26 19:34] #55 closed

[2020-09-26 19:36] antongolub commented on #55
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/synp/v/1.9.1)
- [GitHub release](https://github.com/imsnif/synp/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-01 08:33] sebastienroux opened #59 "dev dependencies are losing "dev" flag"
#### Issue description:
Hello,
With last version 1.9.3 when converting yarn.lock, dev dependencies are losing their flag "dev", please compare lock files :
#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:
 [package-lock.json converted with synp](https://paste.ofcode.org/tNyfKjTXBmu9E9F4xabKSJ)
 [package-lock.json from npm install](https://paste

[2020-10-01 14:25] #59 closed

[2020-10-01 14:25] antongolub commented on #59
Hey, @sebastienroux

I've just tweaked up `dev` flag resolver. From now all the packages that are out of `dependencies` field of their parents marked as `dev`. This should help.
**before**
[code]
**after**
[code]

[2020-10-01 14:29] antongolub commented on #59
:tada: This issue has been resolved in version 1.9.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/synp/v/1.9.4)
- [GitHub release](https://github.com/imsnif/synp/releases/tag/v1.9.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-04 06:12] antongolub opened #61 "Do not require `bash` for monorepos traversing"
Replace `bash-glob` with `node-glob` or smth else.

[2020-10-07 15:24] sebastienroux opened #62 "Package-lock.json missing some deps compared to npm's version"
#### Issue description:
After converting yarn.lock, generated package.json is missing some dep declaration (using 1.9.4)

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:
#### Are you reporting a conversion error? Please also include a link to your `package.json`:

Here all json/lock files : https://gofile.io/uploadFiles

I made a gitlab projec

[2020-10-08 11:23] antongolub commented on #62
@sebastienroux

As I can see, we now have false-positive `dev` flags. It will take time to clarify how the **npm** implements this logic.

[2020-10-29 15:37] alexiusp commented on #46
Sorry for losing the track. In version 1.8.2 everything works as expected. Thank you!

[2021-02-25 21:02] mhruddick opened #72 "Warning displayed by 'checkWorkspace' has typo: `--with-workspaces` should be `--with-workspace`"
Using `> synp --source-file yarn.lock` in a monorepo displays this warning:

[code]

As a first time user, I took it at face value and added that flag, which resulted in this:

[code]

Quite a minor issue, but misleading to first-time users.

Aside from the fix for the warning text, another suggestion would be to automatically display the help along with the 'unknown option' error, as it does here

[2021-02-28 21:53] antongolub commented on #72
@mhruddick,

Good catch, thanks!

[2021-02-28 22:02] #72 closed

[2021-03-25 11:12] antongolub opened #74 "Add support for npm v7 / package-lock v2"
[code]

[2021-12-12 11:38] SinaKarimi7 commented on #74
@imsnif Is there any updates to fix this?

[2021-12-12 19:43] imsnif commented on #74
No, sorry. I haven't been doing javascript for quite a while now. So unless @antongolub has plans for this, I think it's a no go.

[2022-01-10 08:59] alexiusp opened #86 "pin colors.js version to 1.4.0"
#### Issue description:
Please pin colors.js version to 1.4.0. The current version has a bug which leads to a crash.

See details here: https://github.com/Marak/colors.js/issues/285

[2022-01-10 10:25] antongolub commented on #86
Oh sh**, I'll fix this asap.

[2022-01-10 10:33] #86 closed

[2022-01-10 10:35] github-actions[bot] opened #88 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2022-01-10 10:48] antongolub commented on #88
@imsnif ,

Could you please update `NPM_TOKEN` secret?

[2022-01-10 11:12] antongolub commented on #88
I've pushed `v1.9.9` fix by hand (https://www.npmjs.com/package/synp/v/1.9.9), but we need to restore the release pipeline.

[2022-01-10 11:49] chainalert-bot opened #89 "ChainAlert: npm package release (1.9.9) has no matching tag in this repo"
Dear [synp](https://npmjs.com/package/synp) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (1.9.9) of [synp](https://npmjs.com/package/synp) was published without a matching tag in this repo**.

Our service monitors the open-source ecosystem and informs popular packages' owners in case of potentially ha

[2022-01-10 12:06] antongolub commented on #89
https://github.com/imsnif/synp/issues/88

[2022-01-10 14:05] Ramon404 opened #90 "Terminal Broken after initial conversion."
#### Issue description:
After initially trying out the command to convert yarn.lock to package-lock.json I got those weird infinite loop of symbols on my terminal. That kept on for hours before I force stopped it. It keeps happening when I try and run other npm commands like npm run start, even after uninstalling the synp package. Please see the screenshot attached.
`
![Screenshot 2022-01-10 16011

[2022-01-10 15:21] antongolub commented on #90
Hey, @Ramon404,

Have you tried v1.9.9?

[2022-01-10 15:22] antongolub commented on #90
We've already pinned `colors` to v1.4.0 and release the fix as a part of v1.9.9
https://github.com/imsnif/synp/blob/master/package.json#L39

[2022-01-10 15:45] antongolub commented on #90
Seems we have to deprecate all synp versions of range `<1.9.9`.

[2022-01-11 12:22] #90 closed

[2022-01-11 12:35] Ramon404 commented on #90
Hey. Sorry I've actually just uninstalled it because I had to continue with my work. I'll check later what version I had (I just installed the latest from npm), and see if v1.9.9 fixes the issue

[2022-01-13 07:03] antongolub commented on #90
Everything is fine now. The issue has gone as a result of the removal of compromised `colors`  versions from the npm registry.

[2022-01-13 07:04] antongolub commented on #88
@imsnif, let's fix ci.

[2022-02-10 12:21] wujekbogdan opened #91 "[Feature request] add `resolutions` support"
Yarn supports dependencies override with [`resolutions`](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/). In NPM 8.3 there's an equivalent feature [`overrides`](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides).

It would be great if `synp` supported it.

[2022-02-10 12:26] antongolub commented on #88
@imsnif, сome on.

[2022-02-10 19:26] #88 closed

[2022-02-10 21:12] antongolub commented on #91
Hmm... Cannot imagine interop between these apis.
For example:
[code]

Ok, we can traverse `node_modules` and resolve paths for npm:

[code]
But how to convert it back into a glob pattern?

[2022-03-27 20:59] martin-braun opened #93 "Why do I need a node_modules folder?"
I came here, because I want to generate a package-lock.json from a yarn.lock, because I want to use NPM instead of YARN. Obviously, I have not installed the dependencies yet and I should install them with a lock file. I tried to use synp, but it's only for someone who has already the deps installed, but why?

Shouldn't everything the package-lock.json needs be in the yarn.lock, already?

[2022-03-28 15:12] antongolub commented on #93
Technically seems possible. But right now synp uses nmtree, that requires `node_modules` dir to be processed.

[2022-04-11 14:34] vire opened #95 "Unknown token:"
#### Issue description:

`synp -w --source-file ./yarn.lock`

#### Are you reporting a conversion error? Please include a link to `yarn.lock` / `package-lock.json`:
[code]

[2022-04-14 21:16] antongolub commented on #95
Yarn 2+ (Berry) lockfiles are not supported yet(
[code]

[2022-05-09 03:59] zedyuan999 opened #96 "create package-lock.json successfully ,but package-lock.json is overwritten after "npm install""
#### Issue description:
yarn.lock => package-lock.json
when I create a new project with `vue-cli@~4.5.0`,it create a `yarn.lock`.
And then follow the steps
[code]

`package-lock.json` will be rewritten and files in node_modules are not I want.Project can not start!

even if I use 'npm ci' ,`package-lock.json` is not rewritten but files in  node_modules are also not I want.